<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <div>
            <p>Short URL <%= shortURL %> points to  <%= urls[shortURL]%></p>
            <form action="/urls/<%=shortURL%>" method="POST" style="margin:150px;">
                <input id="newURL" type="text" name="newURL" placeholder="http://" style="width: 300px">
                <input type="submit" value="Submit">
            </form>
    </div>
</body>
<header>
    <% include partials/_header %>
</header>

</html>