<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <div>
            <p>Short URL <%= shortURL %> points to  <%= urls[shortURL]%></p>
    </div>
</body>
<header>
    <% include partials/_header %>
</header>

</html>