<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <ul>
        <% for (var url in urls) { %>
            <li><%= url %></li>
        <% }; %>
    </ul>
</body>
<header>
    <% include partials/_header %>
</header>

</html>